
/* 
    Created on : 22/03/2016, 10:04:50 AM
    Author     : Juan
*/
/*#4285F4
 * CSS SIV
 */

html{
    height: 100%;
}

.menu {
    float: right !important;
    margin-top: 15px;
    width: 900px;
}

.logoBanner{	 
    background-image:url("../resources/img/bannerChonajos.jpg");
    background-repeat: no-repeat;
    height: 70px; 
    width:30%;
    margin-right: 0px;
}

.calendario input 
{
    width:105px;
}
.statusActivo
{
    color:green;
}
.statusInactivo
{
    color:red;
}
.statusPagado
{
    color:darkorange;
}
.statusEntregado
{
    color:#4cae4c;
}
.statusPedido
{
    color:deepskyblue;
}
.statusCancelado
{
    color:red;
}

.menuPrincipal{
    font-weight: bold;
}

.ui-widget .ui-widget {
    font-size:0.9em !important;
}
/*Tamaño de titulo de las graficas*/
.jqplot-title{
    font-size:1.0em !important;
}
/*Se modifica el tamaño del los componentes de las tablas*/
.ui-datatable-selectable{
    font-size: 12px!important;
} 
.ui-datatable-selectable thead th{

    font-size: 14px!important;
}

/*Se cambio el tamaño del contenido de las tablas*/
.ui-datatable tbody td
{font-size: 12px!important;
}
.ui-datatable thead th
{
    font-weight: normal ;    
    font-size: 14px!important;
}

/*Se cambio el tamaño del componente h4*/
.h3, h3 {
    margin-left: 10px!important;
    font-weight: bold;
    font-size: 17px;
}

.menuTercerNivel {
    margin-left: 30px !important;
}

.ui-priority-primary{
    color:white;
    background-color:#0088cc  !important;  
}

.ui-selectonemenu{
    width: inherit !important;
}

/*Color azul en autocomplete*/
ul .ui-state-highlight {
    background-image:-webkit-linear-gradient(top, #0088cc, #0077b3) !important;

}

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary{
    background:#ffffff;
    color: blue;
    background-image:linear-gradient(to bottom, #DCDCDC, rgb(208, 209, 212)) !important;
    background-color:#0081c2;
    
}

.ui-state{
    background-color:#00acd6  !important;  
}
/*Color azul a los botones*/
.ui-button-text{
    background:#0081c2;
    background-image:-webkit-linear-gradient(top, #2399e5, #239ce5);
    color: white;
    border-radius: 5px;
    border: 1px solid #0016b0 !important;
}
.ui-state-error{
    color: black !important;
    background:none !important;
}
/*Label a la derecha*/
div label{
    text-align: right !important;
}

.alignLeftRadioButton table  label{
    text-align: left !important;
}

/*quitar bordes de paneles*/
/*.ui-panel .ui-panel-content{
    padding: 0.2em 0.2em !important;
}*/
.container-fluid{
    padding-right: 2px;
    padding-left: 2px;

}
/*quitar bordes de paneles*/
/*Letra mas chica en combos*/
select{
    font-size: 0.8em !important;
}
/*cortar label */
/*div label { 
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis; 
    width:100px;
}
div label:hover{
    overflow:visible;
    white-space:initial;
}*/
/*cortar label*/
/*Letra mas chica en combos*/
button span:hover{
    font-weight: bold;
    color:#0088cc;
    background-image:-webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
}

/*alinght left*/
.alignLeft{
    text-align: left !important;
}
.alignRight{
    text-align: right !important;
}
.alignCenter{
    text-align:center !important;
}

.alignLeftRadioButton table tbody tr td label{
    text-align: left !important;
} 
/*tamaño en el header de la aplicacion con menu*/
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    height: 100px;
}

/*tamaño en el header de la aplicacion sin menu*/
.navbar-fixed-top-menu {
    top: 0;
    border-width: 0 0 1px;
    height: 70px;
}

/**Boton flotante de abrir y cerrar menu**/
.flotante {
        display:scroll;
        position:fixed;
        height:10px;
        width:10px;
        bottom:5px;
        right:0px;
        left:5px;
}
.flotante span
{
        display:scroll;
        position:fixed;
        height:10px;
        width:10px;
        bottom:30px;
        right:0px;
}

/*Iconos color negro si se quita esta linea son grices*/
.ui-widget-content .ui-icon {
    background-image: url("/javax.faces.resource/images/ui-icons_222222_256x240.png.xhtml?ln=primefaces-casablanca") !important;
}

/*Pantalla celular*/
@media ( max-width : 767px) {
    .navbar {
        border-radius: 4px;
        height: 45px !important;
        border-bottom: 4px;
        border-bottom: 4px solid #3A3232 !important;

    }
    .padinTopRes{
        padding-top:30px !important;
    }

    body {
        padding-top: 50px; 
        background-image:none !important;  		
        height: 100%; 
    }

    div label{
        text-align: left !important;
    }

}
@media (max-width : 767px){
    .padinTopRes{
        padding-top:1px;
    }

}
/*pantalla de escritorio*/
@media (min-width : 767px){
    .padinTopRes{
        padding-top:120px;
    }

}

/*Se ocultan componente en el tamño 768*/
@media (min-width:767px) and (max-width : 768px){

    .hidden-button-toggle{
        display:none;
    }
}